@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*viewport 100% para centralizar verticalmente*/
    overflow: hidden;
    /*oculta barra de rolagem*/
    margin: 0;
}
